<div id="Slide-template--18316779094248__5baaa214-dc36-48c8-b807-dd5124b345c5-1" class=" grid__item card_style-card_with_icons">

    <div class="card-wrapper underline-links-hover ">
        <div class="
                    card
                    card--card
                    card--media
                    color-background-1 gradient
                " style="--ratio-percent: 125.0%;">
            <div class="card__inner  ratio" style="--ratio-percent: 125.0%;">
                <div class="card__media">
                    <a href="/products/wooden-ponny">
                        <div class="media media--transparent media--hover-effect">
                            <img srcset="//toytime-theme.myshopify.com/cdn/shop/products/shop-1.jpg?v=1706620888 960w
                                    " src="//toytime-theme.myshopify.com/cdn/shop/products/shop-1.jpg?v=1706620888&width=360" sizes="(min-width: 1540px) 352px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)" alt="Wooden Ponny" class="motion-reduce  loading-image" loading="lazy" width="960" height="960">

                            <img srcset="//toytime-theme.myshopify.com/cdn/shop/products/shop-5.jpg?v=1706620888 960w
                                    " src="//toytime-theme.myshopify.com/cdn/shop/products/shop-5.jpg?v=1706620888&width=360" sizes="(min-width: 1540px) 352px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)" alt="Wooden Ponny" class="motion-reduce  loading-image secondary-image" loading="lazy" width="960" height="960">
                        </div>
                    </a>
                </div>
                <div class="card__content">
                    <div class="card__information">
                        <h3 class="card__heading">
                            <a href="/products/wooden-ponny" class="full-unstyled-link">
                                Wooden Ponny
                            </a>
                        </h3>
                    </div>
                    <div class="card__badge top-left"></div>
                </div>
            </div>
            <div class="card__content for-arrow-alignment content-center  ">
                <div class="card__information">
                    <div class="card-information new--tag"></div>
                    <div class="card-information review"></div>
                    <!-- <div class="heading-swatch"> -->
                    <h3 class="card__heading h5" id="title-template--18316779094248__5baaa214-dc36-48c8-b807-dd5124b345c5-8547308110056">
                        <a href="/products/wooden-ponny" class="full-unstyled-link">
                            Wooden Ponny
                            <span class="choosen-swatch"></span>
                        </a>
                    </h3>
                    <!-- </div> -->

                    <div class="price  product-price-current" data-price="Rs. 650.00">
                        <div class="price__container">
                            <div class="price__regular">
                                <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                <span class="price-item price-item--regular">
                                    Rs. 650.00
                                </span>
                            </div>
                            <div class="price__sale">
                                <span class="visually-hidden visually-hidden--inline">Sale price</span>
                                <span class="price-item price-item--sale price-item--last">
                                    Rs. 650.00
                                </span>
                                <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                <span>
                                    <s class="price-item price-item--regular">

                                        Rs. 10.35

                                    </s>
                                </span>
                            </div>
                            <small class="unit-price caption hidden">
                                <span class="visually-hidden">Unit price</span>
                                <span class="price-item price-item--last">
                                    <span></span>
                                    <span aria-hidden="true">/</span>
                                    <span class="visually-hidden">&nbsp;per&nbsp;</span>
                                    <span></span>
                                </span>
                            </small>
                        </div>
                    </div>

                    <span class="caption-large light"></span>

                    {# <ul class="variant-option-color">

                        <li class="color-values">
                            <a data-href="/products/wooden-ponny?variant=45411341566184" class="swatch swatch-element  active color bg-color-white" data-swatch-meta="name-color_white">
                                <tooltip class="tooltip">White</tooltip>
                                <span data-image="//toytime-theme.myshopify.com/cdn/shop/products/shop-1.jpg?v=1706620888&width=460" style="background-size: cover;background-color:white;background-image: url(https://toytime-theme.myshopify.com/cdn/shop/files/white_50x50.png); background-repeat: no-repeat;" data-id="45411341566184" data-variant-title-id="color" data-variant-item="white" data-variant-title="White / 3 Grams / Cotton"></span>
                            </a>

                        </li>

                        <li class="color-values">
                            <a data-href="/products/wooden-ponny?variant=45411341598952" class="swatch swatch-element  color bg-color-orange" data-swatch-meta="name-color_orange">
                                <tooltip class="tooltip">Orange</tooltip>
                                <span data-image="//toytime-theme.myshopify.com/cdn/shop/products/shop-5.jpg?v=1706620888&width=460" style="background-size: cover;background-color:orange;background-image: url(https://toytime-theme.myshopify.com/cdn/shop/files/orange_50x50.png); background-repeat: no-repeat;" data-id="45411341598952" data-variant-title-id="color" data-variant-item="orange" data-variant-title="Orange / 4 Grams / Polyester"></span>
                            </a>

                        </li>


                        <li class="color-values">
                            <a data-href="/products/wooden-ponny?variant=45411341631720" class="swatch swatch-element  color bg-color-red" data-swatch-meta="name-color_red">
                                <tooltip class="tooltip">Red</tooltip>
                                <span data-image="//toytime-theme.myshopify.com/cdn/shop/products/Image8_9da0f696-77fb-4be2-ae73-aaeb0cc44d31.jpg?v=1706620888&width=460" style="background-size: cover;background-color:red;background-image: url(https://toytime-theme.myshopify.com/cdn/shop/files/red_50x50.png); background-repeat: no-repeat;" data-id="45411341631720" data-variant-title-id="color" data-variant-item="red" data-variant-title="Red / 5 Grams / Fur"></span>
                            </a>

                        </li>


                    </ul> #}

                </div>
                <div class="card__badge top-left"></div>


            </div>
        </div>
    </div>

</div>