<div id="shopify-section-footer" class="shopify-section">
	<link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/section-footer.css?v=150998185906356445231735791230" rel="stylesheet" type="text/css" media="all"/>
	<link rel="stylesheet" href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-newsletter.css?v=66928030989137649401735791230" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-list-menu.css?v=67740596207655118111735791230" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-list-payment.css?v=120513839681986052751735791230" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-list-social.css?v=165443367683607913461735791230" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-rte.css?v=164390173837475133831735791230" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/disclosure.css?v=144609428849090764641735791230" media="print" onload="this.media='all'">

	<noscript><link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-newsletter.css?v=66928030989137649401735791230" rel="stylesheet" type="text/css" media="all"/></noscript>
	<noscript><link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-list-menu.css?v=67740596207655118111735791230" rel="stylesheet" type="text/css" media="all"/></noscript>
	<noscript><link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-list-payment.css?v=120513839681986052751735791230" rel="stylesheet" type="text/css" media="all"/></noscript>
	<noscript><link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-list-social.css?v=165443367683607913461735791230" rel="stylesheet" type="text/css" media="all"/></noscript>
	<noscript><link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-rte.css?v=164390173837475133831735791230" rel="stylesheet" type="text/css" media="all"/></noscript>
	<noscript><link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/disclosure.css?v=144609428849090764641735791230" rel="stylesheet" type="text/css" media="all"/></noscript>
	<style data-shopify>
		.footer {
			margin-top: 45px;
		}

		.section-footer-padding {
			padding-top: 46px;
			padding-bottom: 32px;
		}
		@media screen and (min-width: 576px) and (max-width: 749px) {
			.section-footer-padding {
				padding-top: 69px;
				padding-bottom: 48px;
			}
		}
		@media screen and (max-width: 576px) {
			.footer {
				margin-top: 30px;
			}
		}

		@media screen and (min-width: 750px) {
			.footer {
				margin-top: 60px;
			}

			.section-footer-padding {
				padding-top: 92px;
				padding-bottom: 64px;
			}
		}
		.sections-index-template .footer {
			margin-top: 30px;
		}
		@media screen and (max-width: 480px) {
			.sections-index-template .footer {
				margin-top: 45px;
			}
		}
		@media screen and (min-width: 1201px) {
			.sections-index-template .footer {
				margin-top: 60px;
			}
		}
		.footer .footer__blocks-wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			row-gap: var(--grid-desktop-horizontal-spacing);
		}
		.footer .footer-text .footer-block__details-content {
			margin-top: 15px;
		}
		@media screen and (min-width: 1200px) {
			.footer__item--bd27e402-31b6-4bd2-9c8f-b64d9598283f.footer-block {
				width: calc(38% - calc(var(--grid-desktop-horizontal-spacing) / 2));
				max-width: calc(38% - calc(var(--grid-desktop-horizontal-spacing) / 2));
			}

		}
		@media screen and (max-width: 1199px) and (min-width: 577px) {
			.footer__item--bd27e402-31b6-4bd2-9c8f-b64d9598283f.footer-block {
				width: calc(33.3% - calc(var(--grid-desktop-horizontal-spacing) / 2));
				max-width: calc(33.3% - calc(var(--grid-desktop-horizontal-spacing) / 2));
			}
			.footer__item--bd27e402-31b6-4bd2-9c8f-b64d9598283f.footer-block.footer-newsletter {
				width: 100%;
				max-width: 100%;
			}
		}
		@media screen and (max-width: 576px) {
			.footer__item--bd27e402-31b6-4bd2-9c8f-b64d9598283f.footer-block {
				width: 100%;
				max-width: 100%;
			}
		}
		@media screen and (min-width: 1200px) {
			.footer__item--8c88a831-9d3f-4039-9e74-6f7b20caa8ff.footer-block {
				width: calc(16% - calc(var(--grid-desktop-horizontal-spacing) / 2));
				max-width: calc(16% - calc(var(--grid-desktop-horizontal-spacing) / 2));
			}

		}
		@media screen and (max-width: 1199px) and (min-width: 577px) {
			.footer__item--8c88a831-9d3f-4039-9e74-6f7b20caa8ff.footer-block {
				width: calc(33.3% - calc(var(--grid-desktop-horizontal-spacing) / 2));
				max-width: calc(33.3% - calc(var(--grid-desktop-horizontal-spacing) / 2));
			}
			.footer__item--8c88a831-9d3f-4039-9e74-6f7b20caa8ff.footer-block.footer-newsletter {
				width: 100%;
				max-width: 100%;
			}
		}
		@media screen and (max-width: 576px) {
			.footer__item--8c88a831-9d3f-4039-9e74-6f7b20caa8ff.footer-block {
				width: 100%;
				max-width: 100%;
			}
		}
		@media screen and (min-width: 1200px) {
			.footer__item--3408e200-d33a-433c-bdd0-1d9c73fff07e.footer-block {
				width: calc(18% - calc(var(--grid-desktop-horizontal-spacing) / 2));
				max-width: calc(18% - calc(var(--grid-desktop-horizontal-spacing) / 2));
			}

		}
		@media screen and (max-width: 1199px) and (min-width: 577px) {
			.footer__item--3408e200-d33a-433c-bdd0-1d9c73fff07e.footer-block {
				width: calc(33.3% - calc(var(--grid-desktop-horizontal-spacing) / 2));
				max-width: calc(33.3% - calc(var(--grid-desktop-horizontal-spacing) / 2));
			}
			.footer__item--3408e200-d33a-433c-bdd0-1d9c73fff07e.footer-block.footer-newsletter {
				width: 100%;
				max-width: 100%;
			}
		}
		@media screen and (max-width: 576px) {
			.footer__item--3408e200-d33a-433c-bdd0-1d9c73fff07e.footer-block {
				width: 100%;
				max-width: 100%;
			}
		}
		@media screen and (min-width: 1200px) {
			.footer__item--dc1fe050-cc87-40ca-bc4e-bdb5ee8f4ab7.footer-block {
				width: calc(22% - calc(var(--grid-desktop-horizontal-spacing) / 2));
				max-width: calc(22% - calc(var(--grid-desktop-horizontal-spacing) / 2));
			}

		}
		@media screen and (max-width: 1199px) and (min-width: 577px) {
			.footer__item--dc1fe050-cc87-40ca-bc4e-bdb5ee8f4ab7.footer-block {
				width: calc(33.3% - calc(var(--grid-desktop-horizontal-spacing) / 2));
				max-width: calc(33.3% - calc(var(--grid-desktop-horizontal-spacing) / 2));
			}
			.footer__item--dc1fe050-cc87-40ca-bc4e-bdb5ee8f4ab7.footer-block.footer-newsletter {
				width: 100%;
				max-width: 100%;
			}
		}
		@media screen and (max-width: 576px) {
			.footer__item--dc1fe050-cc87-40ca-bc4e-bdb5ee8f4ab7.footer-block {
				width: 100%;
				max-width: 100%;
			}
		}
	</style>
	<footer id="Banner-footer" class=" footer color-background-2 gradient  ">
		<div class="footer__content-top  page-full-width   page-full-width_spacing ">
			<div class="row">
				<div class="footer__blocks-wrapper   section-footer-padding">
					<div class="footer-block  footer__item--bd27e402-31b6-4bd2-9c8f-b64d9598283f   footer-newsletter   left">
						<h2 class="footer-block__heading  left">Notre canal WhatsApp</h2>
						<div class="footer-block__details-content   left">
							<div class="footer-block__newsletter">
								<form method="post" action="/contact#ContactFooter" id="ContactFooter" accept-charset="UTF-8" class="footer__newsletter newsletter-form"><input type="hidden" name="form_type" value="customer"/><input type="hidden" name="utf8" value="✓"/><input type="hidden" name="contact[tags]" value="newsletter">
									<div class="newsletter-form__field-wrapper">
										<div class="field">
											<input id="NewsletterForm--footer" type="email" name="contact[email]" class="field__input" value="" aria-required="true" autocorrect="off" autocapitalize="off" autocomplete="email" placeholder="Réjoins nous avec ton numéro WhatsApp" required>
											<label class="field__label" for="NewsletterForm--footer">
												Réjoins nous avec ton numéro WhatsApp
											</label>
											<button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="subscribe">S'inscrire
											</button>
										</div>
									</div>
								</form>
								<div class="footer-block__details-content-newsletter">
									<p>Pas de spam, nous le détestons plus que toi.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-block  footer__item--8c88a831-9d3f-4039-9e74-6f7b20caa8ff    footer-block--menu footer-links left">
						<h2 class="footer-block__heading footer__title left">Le magasin</h2>
						<ul class="footer-block__details-content footer_menu list-unstyled left">
							<li>
								<a href="#le-magasin" class="link link--text list-menu__item list-menu__item--link">
									Achète par âge
								</a>
							</li>
							<li>
								<a href="#promos" class="link link--text list-menu__item list-menu__item--link">
									Promos
								</a>
							</li>
							<li>
								<a href="#collections" class="link link--text list-menu__item list-menu__item--link">
									Dernières collections
								</a>
							</li>
						</ul>
					</div>
					<div class="footer-block  footer__item--3408e200-d33a-433c-bdd0-1d9c73fff07e    footer-block--menu footer-links left">
						<h2 class="footer-block__heading footer__title left">À propos</h2>
						<ul class="footer-block__details-content footer_menu list-unstyled left">
							<li>
								<a href="#a-propos" class="link link--text list-menu__item list-menu__item--link list-menu__item--active">
									Nos services
								</a>
							</li>
							<li>
								<a href="#specialites" class="link link--text list-menu__item list-menu__item--link">
                                    Nos spécialités
								</a>
							</li>
							<li>
								<a href="#contact" class="link link--text list-menu__item list-menu__item--link">
									Contact
								</a>
							</li>
						</ul>
					</div>
					<div class="footer-block  footer__item--dc1fe050-cc87-40ca-bc4e-bdb5ee8f4ab7   footer_address  left">
						<div class="footer-block__details-content  left">
							<div class="footer-block__address">
								<h2 class="footer-block__heading">Nos Contacts</h2>
								<div class="footer-block ">

									<ul class="contact-info list-unstyled">

										<li class="address">
											<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g clip-path="url(#clip0_1174_857)">
													<path d="M12.691 0C12.987 0.0343691 13.2835 0.0654872 13.5796 0.103107C15.6518 0.365985 17.3924 1.26005 18.7965 2.76532C19.9954 4.05045 20.7153 5.56223 20.9301 7.29276C21.2228 9.64984 20.5946 11.7519 19.0793 13.6041C17.6138 15.3955 16.156 17.1925 14.6796 18.9755C13.5492 20.341 11.4584 20.3424 10.3241 18.9746C8.77694 17.1084 7.23404 15.239 5.72203 13.3459C4.66998 12.0287 4.12638 10.5119 4.01709 8.83798C3.75432 4.80007 6.54931 1.1992 10.4952 0.270309C10.9746 0.157448 11.4745 0.12633 11.9649 0.0561982C12.0809 0.0394781 12.1958 0.0185779 12.3118 0C12.4382 0 12.5646 0 12.691 0ZM19.2047 8.34706C19.1406 7.87472 19.113 7.39494 19.007 6.93189C18.2297 3.53538 14.8549 1.25215 11.2056 1.95068C7.83514 2.5958 5.4488 5.69135 5.88739 9.14266C6.03897 10.3358 6.48564 11.4073 7.24925 12.3469C8.7185 14.155 10.1977 15.9552 11.6722 17.7591C12.1569 18.3522 12.8483 18.3508 13.3344 17.7558C14.7053 16.0787 16.06 14.3881 17.4551 12.7301C18.5323 11.4496 19.1653 10.0256 19.2052 8.34706H19.2047Z" fill="currentcolor"/>
													<path d="M12.4937 22.2582C14.0568 22.236 15.5762 22.0195 17.0267 21.4381C17.6213 21.1998 18.1794 20.8992 18.6401 20.4523C19.3003 19.8113 19.3416 19.2152 18.7318 18.5332C18.3442 18.1001 18.4197 17.4444 18.8629 17.1572C19.2386 16.9138 19.732 16.9572 20.0512 17.2865C21.2756 18.5494 21.3288 20.2071 20.13 21.5148C19.3236 22.3944 18.2829 22.9148 17.1616 23.2999C16.1314 23.6536 15.0694 23.8831 13.9789 23.9408C13.1221 23.9861 12.2582 24.0276 11.4037 23.9764C9.56945 23.8669 7.7993 23.4832 6.19538 22.5592C5.35899 22.0776 4.64894 21.4667 4.24855 20.5769C3.709 19.3787 4.08564 18.1144 5.0137 17.2287C5.33809 16.9194 5.88286 16.93 6.22531 17.2232C6.55777 17.5076 6.62949 18.0179 6.38347 18.3767C6.3222 18.4658 6.24668 18.5452 6.17734 18.6288C5.71948 19.1815 5.69906 19.7541 6.20441 20.268C6.53213 20.6009 6.92159 20.8983 7.3329 21.1273C8.40202 21.7221 9.58275 21.9954 10.7977 22.1294C11.361 22.1912 11.9285 22.2162 12.4942 22.2582H12.4937Z" fill="currentcolor"/>
													<path d="M7 8.5034C7.04942 5.97185 8.98932 3.99864 11.5082 4C14.0388 4.00136 16.005 5.9832 16 8.50794C15.995 11.0222 14.0433 12.9936 11.515 13C8.99884 13.0063 7.0544 11.0395 7 8.5034ZM11.4995 11.2369C13.0264 11.2374 14.2174 10.0377 14.2446 8.52382C14.2714 7.01906 12.9947 5.76396 11.5236 5.75488C10.0311 5.7458 8.76944 7.00817 8.76355 8.48842C8.75765 9.98637 10.0239 11.276 11.4995 11.2374V11.2369Z" fill="currentcolor"/>
												</g>
												<defs>
													<clipPath id="clip0_1174_857">
														<rect width="24" height="24" fill="white"/>
													</clipPath>
												</defs>
											</svg>
											<address>Riviera Bonoumin, Abidjan, Côte d'Ivoire, 26 Bp 739 Abidjan 26</address>
										</li>


										<li class="office-mail">
											<svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g clip-path="url(#clip0_1174_850)">
													<path d="M24 16.5518C23.9516 16.8595 23.9154 17.1705 23.852 17.4754C23.368 19.8132 21.5622 21.547 19.2282 21.9113C18.9129 21.9603 18.592 21.9943 18.2734 21.9948C14.0838 22.0005 9.89426 22.0019 5.70422 21.9972C3.02535 21.9943 0.791009 20.2454 0.172159 17.6523C0.064083 17.1993 0.0128645 16.7222 0.0100452 16.256C-0.00546131 13.7515 0.00111719 11.2467 0.00299677 8.74227C0.00534624 5.95189 1.8431 3.67919 4.56567 3.11668C4.93735 3.03976 5.32501 3.00673 5.70516 3.00626C9.89473 2.9987 14.0843 2.9987 18.2743 3.00248C21.0519 3.00484 23.3144 4.86226 23.8717 7.59224C23.9295 7.87443 23.9577 8.1623 24 8.4478V16.5518ZM11.9848 20.1515C14.1186 20.1515 16.2524 20.153 18.3862 20.1496C18.5958 20.1496 18.8072 20.1322 19.0144 20.1015C20.7408 19.8472 22.1383 18.2318 22.1406 16.4811C22.1449 13.8275 22.1425 11.1735 22.1397 8.52C22.1397 8.35672 22.1214 8.19156 22.0955 8.02969C21.8014 6.18596 20.2441 4.84905 18.3876 4.84858C14.12 4.84716 9.85244 4.8481 5.58439 4.84858C5.45141 4.84858 5.31749 4.84291 5.18593 4.85754C3.29742 5.06518 1.84216 6.69326 1.84075 8.6007C1.83887 11.1995 1.83887 13.7983 1.84075 16.3971C1.84216 18.4682 3.5178 20.1492 5.58205 20.1515C7.71583 20.1539 9.84962 20.152 11.9834 20.152L11.9848 20.1515Z" fill="currentcolor"/>
													<path d="M12.4222 13.9969C11.3295 14.037 10.0621 13.6906 8.95112 12.898C7.44568 11.8236 5.95127 10.7358 4.45303 9.65208C3.93282 9.27538 3.85267 8.7266 4.25387 8.32359C4.59652 7.97988 5.10953 7.94822 5.54576 8.25984C6.44365 8.90135 7.33578 9.55 8.23031 10.196C8.81003 10.6146 9.39023 11.0318 9.9685 11.4518C11.4706 12.5418 13.3484 12.5485 14.8721 11.4674C16.3747 10.4015 17.8768 9.33512 19.3784 8.26742C19.6313 8.08731 19.8919 7.94956 20.2326 8.01777C20.6136 8.094 20.8584 8.30085 20.9615 8.64457C21.0695 9.00433 20.9462 9.30971 20.6405 9.53439C20.0214 9.98956 19.3899 10.4305 18.7622 10.8758C17.8432 11.5285 16.9246 12.1816 16.0032 12.8316C14.9532 13.5725 14.0433 13.8886 12.4217 13.9964L12.4222 13.9969Z" fill="currentcolor"/>
												</g>
												<defs>
													<clipPath id="clip0_1174_850">
														<rect width="24" height="24" fill="white"/>
													</clipPath>
												</defs>
											</svg>
											<a href="mailto:info@3coeurs.com" class="link">
												<span>info@3coeurs.com</span>
											</a>
										</li>


										<li class="contact-phone">
											<svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g clip-path="url(#clip0_1174_840)">
													<path d="M15.0822 24C14.8287 23.9662 14.5757 23.9276 14.3218 23.8999C12.6453 23.7146 11.0769 23.1772 9.61061 22.3672C6.0671 20.4104 3.33811 17.6384 1.44809 14.0563C0.751145 12.7357 0.278521 11.329 0.0904123 9.84471C-0.313552 6.65944 0.63828 3.92175 2.90358 1.65234C3.35269 1.2024 3.83895 0.754818 4.38541 0.441698C5.73462 -0.33076 7.37493 -0.0641844 8.48336 1.03926C9.04863 1.60203 9.60308 2.17655 10.142 2.76424C11.7522 4.52119 11.1855 7.22409 9.01007 8.20482C8.71097 8.33976 8.41564 8.48268 8.11326 8.60915C7.32038 8.94108 6.83177 9.97259 7.06455 10.8875C7.26395 11.6708 7.66321 12.3454 8.15841 12.9651C9.21793 14.2909 10.3903 15.5025 11.8369 16.4141C12.4115 16.7761 13.0304 17.0441 13.7344 16.9774C14.4281 16.9115 14.9891 16.6031 15.3334 15.9811C15.5106 15.6614 15.6498 15.3191 15.7942 14.9825C16.7282 12.8052 19.5211 12.219 21.2475 13.8433C21.7883 14.3525 22.3164 14.8758 22.8507 15.3915C23.4808 16.0004 23.8655 16.7291 23.9445 17.6097C23.9492 17.6605 23.9807 17.7094 24 17.7588V18.1339C23.9802 18.1913 23.9478 18.2477 23.9426 18.3065C23.8951 18.8627 23.7282 19.3841 23.4023 19.8321C23.114 20.2285 22.789 20.6027 22.4467 20.9539C20.8534 22.5872 18.9544 23.6309 16.6623 23.8984C16.4164 23.9271 16.1718 23.9657 15.9268 23.9995H15.0822V24ZM15.4815 22.1485C15.4852 22.1692 15.489 22.1899 15.4923 22.2111C16.13 22.1142 16.7785 22.062 17.403 21.9121C19.1487 21.4922 20.5148 20.4687 21.6656 19.1269C22.3587 18.3187 22.3169 17.4118 21.5518 16.6671C21.0528 16.1819 20.5524 15.6981 20.0511 15.2157C19.1948 14.3911 17.9156 14.6506 17.4458 15.7399C17.2944 16.0911 17.1279 16.4357 16.9699 16.7841C16.3835 18.0752 14.5405 19.086 12.8846 18.755C12.1063 18.5994 11.3859 18.3098 10.7336 17.8697C8.90379 16.636 7.37305 15.0958 6.14893 13.2608C5.67349 12.5485 5.36123 11.7639 5.22673 10.904C4.9803 9.33177 5.92414 7.64111 7.12522 7.07928C7.50002 6.90392 7.87295 6.72526 8.24964 6.55506C9.32421 6.07128 9.58051 4.81645 8.77164 3.95607C8.2628 3.41493 7.74692 2.88037 7.22538 2.35145C6.56935 1.68619 5.6227 1.63353 4.92575 2.25178C4.471 2.65517 4.02706 3.08018 3.63486 3.54375C2.44789 4.94621 1.83089 6.56729 1.8229 8.41874C1.81678 9.87574 2.14268 11.2589 2.75686 12.5622C4.58339 16.4372 7.44171 19.3112 11.3003 21.1702C12.6128 21.8025 14.0095 22.1565 15.481 22.1485H15.4815Z" fill="currentcolor"/>
													<path d="M23.9995 5.68712C23.9521 5.98822 23.9166 6.29209 23.8549 6.59042C23.381 8.88052 21.6144 10.5717 19.3255 10.9328C16.3384 11.4043 13.5332 9.34371 13.0671 6.36044C12.6098 3.43165 14.534 0.643262 17.4787 0.0950968C20.5851 -0.483086 23.4345 1.64261 23.8968 4.6402C23.9318 4.86603 23.9655 5.09231 24 5.31814V5.68666L23.9995 5.68712ZM18.491 1.79686C16.4729 1.74837 14.79 3.47922 14.778 5.47746C14.7656 7.51449 16.4636 9.2084 18.4642 9.2181C20.4906 9.2278 22.1818 7.52881 22.1887 5.51579C22.196 3.49215 20.5049 1.75576 18.491 1.79686Z" fill="currentcolor"/>
													<path d="M18.7305 4.96983C18.8959 4.96983 19.0274 4.9584 19.1571 4.97191C19.6322 5.02022 19.9869 5.4135 19.9997 5.9481C20.0111 6.43333 19.7363 6.9274 19.2603 6.96585C18.7587 7.00585 18.2492 7.01832 17.7503 6.96117C17.2875 6.90818 17.0175 6.49464 17.0083 5.94446C16.9977 5.31479 16.9968 4.68461 17.0083 4.05494C17.0193 3.45749 17.419 2.98628 17.8782 3.00031C18.3418 3.01433 18.7106 3.46476 18.7287 4.05338C18.738 4.34484 18.7305 4.63681 18.7305 4.97087V4.96983Z" fill="currentcolor"/>
												</g>
												<defs>
													<clipPath id="clip0_1174_840">
														<rect width="24" height="24" fill="white"/>
													</clipPath>
												</defs>
											</svg>
											<a href="tel:+22569696363" class="link">
                                                +225 69 69 63 63
											</a>
										</li>


									</ul>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__content-bottom  page-full-width   page-full-width_spacing ">
			<div class="row">
				<div class="footer__content-bottom-wrapper">
					<div class="footer__column footer__column--info">
						<div class="footer__payment">
							<span class="visually-hidden">Nos réseaux</span>
							<ul class="list list-payment" role="list">
								<li class="list-payment__item">
                                    <svg class="icon icon--full-color" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                        <path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"/>
                                    </svg>
								</li>
								<li class="list-payment__item">
                                    <svg class="icon icon--full-color" xmlns="http://www.w3.org/2000/svg" fill="none" preserveaspectratio="xMidYMid" width="14.906" height="32" viewbox="0 0 14.906 32">
                                        <path d="M14.874,11.167 L14.262,14.207 C14.062,15.208 13.100,15.992 12.072,15.992 L10.000,15.992 L10.000,30.000 C10.000,31.104 9.159,32.000 8.049,32.000 L5.030,32.000 C3.920,32.000 3.017,31.102 3.017,29.999 L3.017,15.992 L2.011,15.992 C0.901,15.992 -0.002,15.095 -0.002,13.991 L-0.002,10.990 C-0.002,9.887 0.901,8.989 2.011,8.989 L3.017,8.989 L3.017,6.003 C3.017,2.716 5.693,0.041 8.994,0.013 C9.015,0.012 9.033,0.001 9.055,0.001 L13.081,0.001 C13.636,0.001 14.000,0.448 14.000,1.000 L14.000,6.000 C14.000,6.553 13.636,7.004 13.081,7.004 L10.061,7.004 L10.060,8.989 L13.079,8.989 C13.645,8.989 14.167,9.228 14.509,9.644 C14.852,10.059 14.985,10.615 14.874,11.167 ZM9.092,10.990 C9.078,10.991 9.067,10.998 9.053,10.998 L9.053,10.998 C8.497,10.997 8.046,10.549 8.047,9.997 L8.047,9.990 C8.047,9.990 8.047,9.990 8.047,9.990 C8.047,9.990 8.047,9.990 8.047,9.990 L8.049,6.003 C8.049,5.450 8.499,5.003 9.055,5.003 L12.074,5.003 L12.074,2.002 L9.094,2.002 C9.077,2.002 9.063,2.011 9.045,2.011 C6.831,2.011 5.030,3.802 5.030,6.003 L5.030,10.005 C5.030,10.558 4.579,11.006 4.023,11.006 C3.996,11.006 3.973,10.992 3.946,10.990 L2.011,10.990 L2.011,13.991 L4.023,13.991 C4.579,13.991 5.030,14.439 5.030,14.992 C5.030,15.044 5.008,15.088 5.000,15.138 L5.000,30.000 L8.049,29.999 L8.049,15.002 C8.049,14.998 8.047,14.995 8.047,14.992 C8.047,14.439 8.497,13.991 9.053,13.991 L12.072,13.991 C12.145,13.991 12.275,13.886 12.288,13.816 L12.857,10.990 L9.092,10.990 Z" fill="currentColor"/>
                                    </svg>
								</li>
								<li class="list-payment__item">
                                    <svg class="icon icon--full-color" aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram" viewbox="0 0 18 18">
                                        <path fill="currentColor" d="M8.77 1.58c2.34 0 2.62.01 3.54.05.86.04 1.32.18 1.63.3.41.17.7.35 1.01.66.3.3.5.6.65 1 .12.32.27.78.3 1.64.05.92.06 1.2.06 3.54s-.01 2.62-.05 3.54a4.79 4.79 0 01-.3 1.63c-.17.41-.35.7-.66 1.01-.3.3-.6.5-1.01.66-.31.12-.77.26-1.63.3-.92.04-1.2.05-3.54.05s-2.62 0-3.55-.05a4.79 4.79 0 01-1.62-.3c-.42-.16-.7-.35-1.01-.66-.31-.3-.5-.6-.66-1a4.87 4.87 0 01-.3-1.64c-.04-.92-.05-1.2-.05-3.54s0-2.62.05-3.54c.04-.86.18-1.32.3-1.63.16-.41.35-.7.66-1.01.3-.3.6-.5 1-.65.32-.12.78-.27 1.63-.3.93-.05 1.2-.06 3.55-.06zm0-1.58C6.39 0 6.09.01 5.15.05c-.93.04-1.57.2-2.13.4-.57.23-1.06.54-1.55 1.02C1 1.96.7 2.45.46 3.02c-.22.56-.37 1.2-.4 2.13C0 6.1 0 6.4 0 8.77s.01 2.68.05 3.61c.04.94.2 1.57.4 2.13.23.58.54 1.07 1.02 1.56.49.48.98.78 1.55 1.01.56.22 1.2.37 2.13.4.94.05 1.24.06 3.62.06 2.39 0 2.68-.01 3.62-.05.93-.04 1.57-.2 2.13-.41a4.27 4.27 0 001.55-1.01c.49-.49.79-.98 1.01-1.56.22-.55.37-1.19.41-2.13.04-.93.05-1.23.05-3.61 0-2.39 0-2.68-.05-3.62a6.47 6.47 0 00-.4-2.13 4.27 4.27 0 00-1.02-1.55A4.35 4.35 0 0014.52.46a6.43 6.43 0 00-2.13-.41A69 69 0 008.77 0z"/>
                                        <path fill="currentColor" d="M8.8 4a4.5 4.5 0 100 9 4.5 4.5 0 000-9zm0 7.43a2.92 2.92 0 110-5.85 2.92 2.92 0 010 5.85zM13.43 5a1.05 1.05 0 100-2.1 1.05 1.05 0 000 2.1z">
                                    </svg>
								</li>
							</ul>
						</div>
						<div class="footer__copyright">

							<small class="copyright__content">
								<p>All Right Reserved © 2025
									<a href="/#" title="/#">Le magasin 3coeurs</a>
								</p>
							</small>

						</div>
						{# <div class="social-icons">
							<ul class="dt-sc-social-icons dt-sc-list-inline footer-social-icons">

								<ul class="team__list-social list-unstyled list-social" role="list">
									<li class="list-social__item">
										<a href="#" class="link text-social__link">
											<svg width="19" height="18" viewbox="0 0 19 18" fill="none" class="icon icon-twitter" xmlns="http://www.w3.org/2000/svg">
												<path d="M0.0462914 0L7.3819 9.92811L0 18H1.66179L8.1253 10.9338L13.3464 18H19L11.2522 7.51415L18.1236 0.00146392H16.4618L10.5102 6.50992L5.70131 0.00146392H0.0477214L0.0462914 0ZM2.48907 1.23845H5.08663L16.5558 16.7601H13.9582L2.48907 1.23845Z" fill="currentColor"/>
											</svg>
											<span class="social-as-text h6">Twitter</span>
											<span class="visually-hidden">Twitter</span>
										</a>
									</li>
									<li class="list-social__item">
										<a
											href="#" class="link text-social__link">
											<!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-facebook" width="10" height="22" viewBox="0 0 10 22" fill="none">
											  <g clip-path="url(#clip0_423_5411)">
											    <path d="M0 6.23792H9.13208L8.64079 9.65017H0V6.23792ZM1.60489 4.98736C1.60489 1.52449 2.87034 0 6.36 0H9.1291V3.55815H6.45826C6.17539 3.55815 5.96399 3.66534 5.81809 3.87972C5.67219 4.0941 5.60073 4.37101 5.60073 4.71045V21.203H1.60489V4.99034V4.98736Z" fill="currentcolor"></path>
											  </g>
											  <defs>
											    <clipPath id="clip0_423_5411">
											      <rect width="9.13208" height="21.2" fill="currentcolor"></rect>
											    </clipPath>
											  </defs>
											</svg> -->


											<svg xmlns="http://www.w3.org/2000/svg" fill="none" preserveaspectratio="xMidYMid" width="14.906" height="32" viewbox="0 0 14.906 32" class="icon">
												<path d="M14.874,11.167 L14.262,14.207 C14.062,15.208 13.100,15.992 12.072,15.992 L10.000,15.992 L10.000,30.000 C10.000,31.104 9.159,32.000 8.049,32.000 L5.030,32.000 C3.920,32.000 3.017,31.102 3.017,29.999 L3.017,15.992 L2.011,15.992 C0.901,15.992 -0.002,15.095 -0.002,13.991 L-0.002,10.990 C-0.002,9.887 0.901,8.989 2.011,8.989 L3.017,8.989 L3.017,6.003 C3.017,2.716 5.693,0.041 8.994,0.013 C9.015,0.012 9.033,0.001 9.055,0.001 L13.081,0.001 C13.636,0.001 14.000,0.448 14.000,1.000 L14.000,6.000 C14.000,6.553 13.636,7.004 13.081,7.004 L10.061,7.004 L10.060,8.989 L13.079,8.989 C13.645,8.989 14.167,9.228 14.509,9.644 C14.852,10.059 14.985,10.615 14.874,11.167 ZM9.092,10.990 C9.078,10.991 9.067,10.998 9.053,10.998 L9.053,10.998 C8.497,10.997 8.046,10.549 8.047,9.997 L8.047,9.990 C8.047,9.990 8.047,9.990 8.047,9.990 C8.047,9.990 8.047,9.990 8.047,9.990 L8.049,6.003 C8.049,5.450 8.499,5.003 9.055,5.003 L12.074,5.003 L12.074,2.002 L9.094,2.002 C9.077,2.002 9.063,2.011 9.045,2.011 C6.831,2.011 5.030,3.802 5.030,6.003 L5.030,10.005 C5.030,10.558 4.579,11.006 4.023,11.006 C3.996,11.006 3.973,10.992 3.946,10.990 L2.011,10.990 L2.011,13.991 L4.023,13.991 C4.579,13.991 5.030,14.439 5.030,14.992 C5.030,15.044 5.008,15.088 5.000,15.138 L5.000,30.000 L8.049,29.999 L8.049,15.002 C8.049,14.998 8.047,14.995 8.047,14.992 C8.047,14.439 8.497,13.991 9.053,13.991 L12.072,13.991 C12.145,13.991 12.275,13.886 12.288,13.816 L12.857,10.990 L9.092,10.990 Z" fill="currentColor"/>
											</svg>


											<span class="social-as-text h6">Facebook</span>
											<span class="visually-hidden">Facebook</span>
										</a>
									</li>
									<li class="list-social__item">
										<a href="#" class="link text-social__link">


											<svg xmlns="http://www.w3.org/2000/svg" fill="none" ; width="19px" height="18px" class="icon" viewbox="0 0 48 48" version="1.1" id="Shopicons" x="0" y="0" xml:space="preserve">
												<path d="M24 4C12.972 4 4 12.972 4 24s8.972 20 20 20 20-8.972 20-20S35.028 4 24 4zm0 36c-1.314 0-2.584-.177-3.806-.477l1.722-6.545c.14.167.287.326.443.479 1.678 1.64 4.144 2.183 6.594 1.451C33.102 33.671 36 29.185 36 24c0-6.617-5.383-12-12-12-6.51 0-10.005 3.922-11.02 7.281-1.534 5.078 1.324 8.798 1.446 8.954l3.158-2.455c-.069-.092-1.694-2.303-.776-5.343C17.428 18.391 19.682 16 24 16c4.411 0 8 3.589 8 8 0 2.895-1.439 6.255-4.19 7.075-.389.115-1.731.423-2.655-.479-.62-.605-1.861-2.626-.382-8.471l.162-.616-3.864-1.035c-.059.217-.115.433-.17.645l-4.467 16.974C11.418 35.388 8 30.086 8 24c0-8.822 7.178-16 16-16s16 7.178 16 16-7.178 16-16 16z" fill="currentColor"/>
											</svg>
											<span class="social-as-text h6">Pinterest</span>
											<span class="visually-hidden">Pinterest</span>
										</a>
									</li>
									<li class="list-social__item">
										<a href="#" class="link text-social__link">
											<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram" viewbox="0 0 18 18">
												<path fill="currentColor" d="M8.77 1.58c2.34 0 2.62.01 3.54.05.86.04 1.32.18 1.63.3.41.17.7.35 1.01.66.3.3.5.6.65 1 .12.32.27.78.3 1.64.05.92.06 1.2.06 3.54s-.01 2.62-.05 3.54a4.79 4.79 0 01-.3 1.63c-.17.41-.35.7-.66 1.01-.3.3-.6.5-1.01.66-.31.12-.77.26-1.63.3-.92.04-1.2.05-3.54.05s-2.62 0-3.55-.05a4.79 4.79 0 01-1.62-.3c-.42-.16-.7-.35-1.01-.66-.31-.3-.5-.6-.66-1a4.87 4.87 0 01-.3-1.64c-.04-.92-.05-1.2-.05-3.54s0-2.62.05-3.54c.04-.86.18-1.32.3-1.63.16-.41.35-.7.66-1.01.3-.3.6-.5 1-.65.32-.12.78-.27 1.63-.3.93-.05 1.2-.06 3.55-.06zm0-1.58C6.39 0 6.09.01 5.15.05c-.93.04-1.57.2-2.13.4-.57.23-1.06.54-1.55 1.02C1 1.96.7 2.45.46 3.02c-.22.56-.37 1.2-.4 2.13C0 6.1 0 6.4 0 8.77s.01 2.68.05 3.61c.04.94.2 1.57.4 2.13.23.58.54 1.07 1.02 1.56.49.48.98.78 1.55 1.01.56.22 1.2.37 2.13.4.94.05 1.24.06 3.62.06 2.39 0 2.68-.01 3.62-.05.93-.04 1.57-.2 2.13-.41a4.27 4.27 0 001.55-1.01c.49-.49.79-.98 1.01-1.56.22-.55.37-1.19.41-2.13.04-.93.05-1.23.05-3.61 0-2.39 0-2.68-.05-3.62a6.47 6.47 0 00-.4-2.13 4.27 4.27 0 00-1.02-1.55A4.35 4.35 0 0014.52.46a6.43 6.43 0 00-2.13-.41A69 69 0 008.77 0z"/>
												<path fill="currentColor" d="M8.8 4a4.5 4.5 0 100 9 4.5 4.5 0 000-9zm0 7.43a2.92 2.92 0 110-5.85 2.92 2.92 0 010 5.85zM13.43 5a1.05 1.05 0 100-2.1 1.05 1.05 0 000 2.1z"></svg>
												<span class="social-as-text h6">Instagram</span>
												<span class="visually-hidden">Instagram</span>
											</a>
										</li>
									</li>
								</ul>
							</ul>
						</div> #}

					</div>
				</div>
			</div>
		</div>

	</footer>
	<style data-shopify>
		.footer .footer-block-image {
			position: relative;
		}
	</style>
</div>
