<div id="shopify-section-top-bar" class="shopify-section">
	<style data-shopify>
		@media screen and (max-width: 990px) {

			.announcement-bar-wrapper.hide-mobile {
				display: none;
			}
		}

		.marquee:before {
			left: 0;
			background: linear-gradient(to right, white 5%, transparent 100%);
		}
		.marquee:after {
			right: 0;
			background: linear-gradient(to left, white 5%, transparent 100%);
		}
		.marquee:before,
		.marquee:after {
			position: absolute;
			top: 0;
			width: 100px;
			height: 35px;
			content: "";
			z-index: 1;
		}

		.announcement-bar-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 8px 0;
			/* border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08); */
		}
		.marquee__content {
			display: flex;
			align-items: center;
			white-space: nowrap;
			overflow: hidden;
		}
		.marquee_annoucement {
			animation: scroll-left 20s linear infinite;
			display: flex;
			align-items: center;
			justify-content: space-around;
			flex-shrink: 0;
			min-width: 100%;
		}

		.announcement-bar {
			padding: 0 5vw;
		}
		.announcement-bar .announcement-bar__message {
			margin: 0;
			padding: 0
		}
		@keyframes scroll-left {
			0% {
				transform: translateX(0%);
			}
			100% {
				transform: translateX(-100%);
			}
		}

		body.overflow-hidden #shopify-section-announcement-bar,
		body.overflow-hidden-mobile #shopify-section-announcement-bar {
			z-index: 0;
		}
		body.overflow-hidden-tablet #shopify-section-announcement-bar {
			z-index: 0;
			display: none;
		}
	</style>

	<section class="dt-sc-header-top-bar   color-background-2 gradient">
		<div class=" page-width  ">
			<div class="row">
				<div class="dt-sc-flex-space-between flex-default">
					<ul class="dt-sc-list-inline header-contact">

						<li>
							<a href="mailto:info@example.com" class="link link--text">
								<svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0_1174_850)">
										<path d="M24 16.5518C23.9516 16.8595 23.9154 17.1705 23.852 17.4754C23.368 19.8132 21.5622 21.547 19.2282 21.9113C18.9129 21.9603 18.592 21.9943 18.2734 21.9948C14.0838 22.0005 9.89426 22.0019 5.70422 21.9972C3.02535 21.9943 0.791009 20.2454 0.172159 17.6523C0.064083 17.1993 0.0128645 16.7222 0.0100452 16.256C-0.00546131 13.7515 0.00111719 11.2467 0.00299677 8.74227C0.00534624 5.95189 1.8431 3.67919 4.56567 3.11668C4.93735 3.03976 5.32501 3.00673 5.70516 3.00626C9.89473 2.9987 14.0843 2.9987 18.2743 3.00248C21.0519 3.00484 23.3144 4.86226 23.8717 7.59224C23.9295 7.87443 23.9577 8.1623 24 8.4478V16.5518ZM11.9848 20.1515C14.1186 20.1515 16.2524 20.153 18.3862 20.1496C18.5958 20.1496 18.8072 20.1322 19.0144 20.1015C20.7408 19.8472 22.1383 18.2318 22.1406 16.4811C22.1449 13.8275 22.1425 11.1735 22.1397 8.52C22.1397 8.35672 22.1214 8.19156 22.0955 8.02969C21.8014 6.18596 20.2441 4.84905 18.3876 4.84858C14.12 4.84716 9.85244 4.8481 5.58439 4.84858C5.45141 4.84858 5.31749 4.84291 5.18593 4.85754C3.29742 5.06518 1.84216 6.69326 1.84075 8.6007C1.83887 11.1995 1.83887 13.7983 1.84075 16.3971C1.84216 18.4682 3.5178 20.1492 5.58205 20.1515C7.71583 20.1539 9.84962 20.152 11.9834 20.152L11.9848 20.1515Z" fill="currentcolor"/>
										<path d="M12.4222 13.9969C11.3295 14.037 10.0621 13.6906 8.95112 12.898C7.44568 11.8236 5.95127 10.7358 4.45303 9.65208C3.93282 9.27538 3.85267 8.7266 4.25387 8.32359C4.59652 7.97988 5.10953 7.94822 5.54576 8.25984C6.44365 8.90135 7.33578 9.55 8.23031 10.196C8.81003 10.6146 9.39023 11.0318 9.9685 11.4518C11.4706 12.5418 13.3484 12.5485 14.8721 11.4674C16.3747 10.4015 17.8768 9.33512 19.3784 8.26742C19.6313 8.08731 19.8919 7.94956 20.2326 8.01777C20.6136 8.094 20.8584 8.30085 20.9615 8.64457C21.0695 9.00433 20.9462 9.30971 20.6405 9.53439C20.0214 9.98956 19.3899 10.4305 18.7622 10.8758C17.8432 11.5285 16.9246 12.1816 16.0032 12.8316C14.9532 13.5725 14.0433 13.8886 12.4217 13.9964L12.4222 13.9969Z" fill="currentcolor"/>
									</g>
									<defs>
										<clipPath id="clip0_1174_850">
											<rect width="24" height="24" fill="white"/>
										</clipPath>
									</defs>
								</svg>
								<span>info@3coeurs.com</span>
							</a>
						</li>

						<li>
							<a href="tel:+000-123-456789" class="link link--text">
								<svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0_1174_840)">
										<path d="M15.0822 24C14.8287 23.9662 14.5757 23.9276 14.3218 23.8999C12.6453 23.7146 11.0769 23.1772 9.61061 22.3672C6.0671 20.4104 3.33811 17.6384 1.44809 14.0563C0.751145 12.7357 0.278521 11.329 0.0904123 9.84471C-0.313552 6.65944 0.63828 3.92175 2.90358 1.65234C3.35269 1.2024 3.83895 0.754818 4.38541 0.441698C5.73462 -0.33076 7.37493 -0.0641844 8.48336 1.03926C9.04863 1.60203 9.60308 2.17655 10.142 2.76424C11.7522 4.52119 11.1855 7.22409 9.01007 8.20482C8.71097 8.33976 8.41564 8.48268 8.11326 8.60915C7.32038 8.94108 6.83177 9.97259 7.06455 10.8875C7.26395 11.6708 7.66321 12.3454 8.15841 12.9651C9.21793 14.2909 10.3903 15.5025 11.8369 16.4141C12.4115 16.7761 13.0304 17.0441 13.7344 16.9774C14.4281 16.9115 14.9891 16.6031 15.3334 15.9811C15.5106 15.6614 15.6498 15.3191 15.7942 14.9825C16.7282 12.8052 19.5211 12.219 21.2475 13.8433C21.7883 14.3525 22.3164 14.8758 22.8507 15.3915C23.4808 16.0004 23.8655 16.7291 23.9445 17.6097C23.9492 17.6605 23.9807 17.7094 24 17.7588V18.1339C23.9802 18.1913 23.9478 18.2477 23.9426 18.3065C23.8951 18.8627 23.7282 19.3841 23.4023 19.8321C23.114 20.2285 22.789 20.6027 22.4467 20.9539C20.8534 22.5872 18.9544 23.6309 16.6623 23.8984C16.4164 23.9271 16.1718 23.9657 15.9268 23.9995H15.0822V24ZM15.4815 22.1485C15.4852 22.1692 15.489 22.1899 15.4923 22.2111C16.13 22.1142 16.7785 22.062 17.403 21.9121C19.1487 21.4922 20.5148 20.4687 21.6656 19.1269C22.3587 18.3187 22.3169 17.4118 21.5518 16.6671C21.0528 16.1819 20.5524 15.6981 20.0511 15.2157C19.1948 14.3911 17.9156 14.6506 17.4458 15.7399C17.2944 16.0911 17.1279 16.4357 16.9699 16.7841C16.3835 18.0752 14.5405 19.086 12.8846 18.755C12.1063 18.5994 11.3859 18.3098 10.7336 17.8697C8.90379 16.636 7.37305 15.0958 6.14893 13.2608C5.67349 12.5485 5.36123 11.7639 5.22673 10.904C4.9803 9.33177 5.92414 7.64111 7.12522 7.07928C7.50002 6.90392 7.87295 6.72526 8.24964 6.55506C9.32421 6.07128 9.58051 4.81645 8.77164 3.95607C8.2628 3.41493 7.74692 2.88037 7.22538 2.35145C6.56935 1.68619 5.6227 1.63353 4.92575 2.25178C4.471 2.65517 4.02706 3.08018 3.63486 3.54375C2.44789 4.94621 1.83089 6.56729 1.8229 8.41874C1.81678 9.87574 2.14268 11.2589 2.75686 12.5622C4.58339 16.4372 7.44171 19.3112 11.3003 21.1702C12.6128 21.8025 14.0095 22.1565 15.481 22.1485H15.4815Z" fill="currentcolor"/>
										<path d="M23.9995 5.68712C23.9521 5.98822 23.9166 6.29209 23.8549 6.59042C23.381 8.88052 21.6144 10.5717 19.3255 10.9328C16.3384 11.4043 13.5332 9.34371 13.0671 6.36044C12.6098 3.43165 14.534 0.643262 17.4787 0.0950968C20.5851 -0.483086 23.4345 1.64261 23.8968 4.6402C23.9318 4.86603 23.9655 5.09231 24 5.31814V5.68666L23.9995 5.68712ZM18.491 1.79686C16.4729 1.74837 14.79 3.47922 14.778 5.47746C14.7656 7.51449 16.4636 9.2084 18.4642 9.2181C20.4906 9.2278 22.1818 7.52881 22.1887 5.51579C22.196 3.49215 20.5049 1.75576 18.491 1.79686Z" fill="currentcolor"/>
										<path d="M18.7305 4.96983C18.8959 4.96983 19.0274 4.9584 19.1571 4.97191C19.6322 5.02022 19.9869 5.4135 19.9997 5.9481C20.0111 6.43333 19.7363 6.9274 19.2603 6.96585C18.7587 7.00585 18.2492 7.01832 17.7503 6.96117C17.2875 6.90818 17.0175 6.49464 17.0083 5.94446C16.9977 5.31479 16.9968 4.68461 17.0083 4.05494C17.0193 3.45749 17.419 2.98628 17.8782 3.00031C18.3418 3.01433 18.7106 3.46476 18.7287 4.05338C18.738 4.34484 18.7305 4.63681 18.7305 4.97087V4.96983Z" fill="currentcolor"/>
									</g>
									<defs>
										<clipPath id="clip0_1174_840">
											<rect width="24" height="24" fill="white"/>
										</clipPath>
									</defs>
								</svg>
								<span>+225-07-09-254-144</span>
							</a>
						</li>
					</ul>

					<vertical-bar>
					<div class="announcement_bar_style- announcement-bar-wrapper  hide-mobile ">
                        <div class="swiper enable-vertical-marquee">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div>
                                        <a href="/collections/all" class="link link--text focus-inset animate-arrow">
                                            <p class="link1">
                                                Rejoins notre communauté sur whatsapp !
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <a href="/collections/all" class="link link--text focus-inset animate-arrow">
                                            <p class="link1">
                                                Bienvenue à notre boutique en ligne
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <a href="/collections/all" class="link link--text focus-inset animate-arrow">
                                            <p class="link1">
                                                Prêt à porté pour enfants
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next1 vertical-marquee-next">
                                <svg class="icon icon-caret" width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px">
                                    <path stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" d="M3,5.5l5,5l5-5"></path>
                                </svg>
                            </div>
                            <div class="swiper-button-prev1 vertical-marquee-prev">
                                <svg class="icon icon-caret" width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px">
                                    <path stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" d="M3,5.5l5,5l5-5"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
					</vertical-bar>
					<ul class="topbar_list-social list-unstyled list-social" role="list">
						<li class="list-social__item">
							<a href="#" class="link list-social__link">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                    <path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"/>
                                </svg>
								<span class="icon-text visually-hidden">Whatsapp</span>
							</a>
						</li>
						<li class="list-social__item">
							<a
								href="#" class="link list-social__link">

								<svg xmlns="http://www.w3.org/2000/svg" fill="none" preserveaspectratio="xMidYMid" width="14.906" height="32" viewbox="0 0 14.906 32" class="icon">
									<path d="M14.874,11.167 L14.262,14.207 C14.062,15.208 13.100,15.992 12.072,15.992 L10.000,15.992 L10.000,30.000 C10.000,31.104 9.159,32.000 8.049,32.000 L5.030,32.000 C3.920,32.000 3.017,31.102 3.017,29.999 L3.017,15.992 L2.011,15.992 C0.901,15.992 -0.002,15.095 -0.002,13.991 L-0.002,10.990 C-0.002,9.887 0.901,8.989 2.011,8.989 L3.017,8.989 L3.017,6.003 C3.017,2.716 5.693,0.041 8.994,0.013 C9.015,0.012 9.033,0.001 9.055,0.001 L13.081,0.001 C13.636,0.001 14.000,0.448 14.000,1.000 L14.000,6.000 C14.000,6.553 13.636,7.004 13.081,7.004 L10.061,7.004 L10.060,8.989 L13.079,8.989 C13.645,8.989 14.167,9.228 14.509,9.644 C14.852,10.059 14.985,10.615 14.874,11.167 ZM9.092,10.990 C9.078,10.991 9.067,10.998 9.053,10.998 L9.053,10.998 C8.497,10.997 8.046,10.549 8.047,9.997 L8.047,9.990 C8.047,9.990 8.047,9.990 8.047,9.990 C8.047,9.990 8.047,9.990 8.047,9.990 L8.049,6.003 C8.049,5.450 8.499,5.003 9.055,5.003 L12.074,5.003 L12.074,2.002 L9.094,2.002 C9.077,2.002 9.063,2.011 9.045,2.011 C6.831,2.011 5.030,3.802 5.030,6.003 L5.030,10.005 C5.030,10.558 4.579,11.006 4.023,11.006 C3.996,11.006 3.973,10.992 3.946,10.990 L2.011,10.990 L2.011,13.991 L4.023,13.991 C4.579,13.991 5.030,14.439 5.030,14.992 C5.030,15.044 5.008,15.088 5.000,15.138 L5.000,30.000 L8.049,29.999 L8.049,15.002 C8.049,14.998 8.047,14.995 8.047,14.992 C8.047,14.439 8.497,13.991 9.053,13.991 L12.072,13.991 C12.145,13.991 12.275,13.886 12.288,13.816 L12.857,10.990 L9.092,10.990 Z" fill="currentColor"/>
								</svg>

								<span class="icon-text visually-hidden">Facebook</span>
							</a>
						</li>
						<li class="list-social__item">
							<a href="#" class="link list-social__link">
								<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram" viewbox="0 0 18 18">
									<path fill="currentColor" d="M8.77 1.58c2.34 0 2.62.01 3.54.05.86.04 1.32.18 1.63.3.41.17.7.35 1.01.66.3.3.5.6.65 1 .12.32.27.78.3 1.64.05.92.06 1.2.06 3.54s-.01 2.62-.05 3.54a4.79 4.79 0 01-.3 1.63c-.17.41-.35.7-.66 1.01-.3.3-.6.5-1.01.66-.31.12-.77.26-1.63.3-.92.04-1.2.05-3.54.05s-2.62 0-3.55-.05a4.79 4.79 0 01-1.62-.3c-.42-.16-.7-.35-1.01-.66-.31-.3-.5-.6-.66-1a4.87 4.87 0 01-.3-1.64c-.04-.92-.05-1.2-.05-3.54s0-2.62.05-3.54c.04-.86.18-1.32.3-1.63.16-.41.35-.7.66-1.01.3-.3.6-.5 1-.65.32-.12.78-.27 1.63-.3.93-.05 1.2-.06 3.55-.06zm0-1.58C6.39 0 6.09.01 5.15.05c-.93.04-1.57.2-2.13.4-.57.23-1.06.54-1.55 1.02C1 1.96.7 2.45.46 3.02c-.22.56-.37 1.2-.4 2.13C0 6.1 0 6.4 0 8.77s.01 2.68.05 3.61c.04.94.2 1.57.4 2.13.23.58.54 1.07 1.02 1.56.49.48.98.78 1.55 1.01.56.22 1.2.37 2.13.4.94.05 1.24.06 3.62.06 2.39 0 2.68-.01 3.62-.05.93-.04 1.57-.2 2.13-.41a4.27 4.27 0 001.55-1.01c.49-.49.79-.98 1.01-1.56.22-.55.37-1.19.41-2.13.04-.93.05-1.23.05-3.61 0-2.39 0-2.68-.05-3.62a6.47 6.47 0 00-.4-2.13 4.27 4.27 0 00-1.02-1.55A4.35 4.35 0 0014.52.46a6.43 6.43 0 00-2.13-.41A69 69 0 008.77 0z"/>
									<path fill="currentColor" d="M8.8 4a4.5 4.5 0 100 9 4.5 4.5 0 000-9zm0 7.43a2.92 2.92 0 110-5.85 2.92 2.92 0 010 5.85zM13.43 5a1.05 1.05 0 100-2.1 1.05 1.05 0 000 2.1z"></svg>
									<span class="icon-text visually-hidden">Instagram</span>
								</a>
							</li>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<script>
		class verticalBar extends HTMLElement {
            constructor() {
                super();
                this.container = document.querySelector('.enable-vertical-marquee');
                // Initialize Swiper
                this.mySwiper = new Swiper(this.container, {
                    effect: "fade",
                    fadeEffect: {
                        crossFade: true
                    },
                    loop: true,
                    navigation: {
                        nextEl: '.vertical-marquee-next',
                        prevEl: '.vertical-marquee-prev'
                    },
                    autoplay: {
                        delay: 3000,
                        disableOnInteraction: false
                    },
                    speed: 1000
                });
            }
        }
        customElements.define('vertical-bar', verticalBar);
	</script>
	<style>
		.social-icons {
			display: none;
		}
		.dt-sc-header-top-bar a {
			font-family: var(--font-heading-family);
			font-size: 1.4rem;
			font-weight: 500;
		}
		.dt-sc-header-top-bar .header-contact {
			widht: 2rem;
			height: 2rem;
		}
		.dt-sc-header-top-bar {
			padding-top: 0;
			padding-bottom: 0;
		}
		.dt-sc-header-top-bar .list-social__link svg {
			width: 1.6rem;
			height: 1.6rem;
		}
		.dt-sc-header-top-bar .list-social__item:not(:last-child) .list-social__link {
			margin-right: 20px;
		}
		.dt-sc-header-top-bar a .icon-text {
			font-size: 1.4rem;
			font-weight: 600;
			transition: all var(--duration-default) linear;
		}
		.dt-sc-header-top-bar ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
		}
		.dt-sc-header-top-bar a {
			text-decoration: none;
			display: inline-flex;
			justify-content: center;
			gap: 10px;
		}
		.dt-sc-header-top-bar .dt-sc-flex-space-between {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}
		.dt-sc-header-top-bar .header-contact,
		.dt-sc-header-top-bar .top-bar-content {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.dt-sc-header-top-bar .header-contact li:not(:last-child) {
			margin-right: 20px
		}
		.dt-sc-header-top-bar .top-bar-content a.top-bar-link.link {
			text-decoration: underline;
		}
		.dt-sc-header-top-bar .top-bar-content .top-bar-text {
			margin: 0;
			font-size: 1.4rem;
			font-weight: 500;
		}
		.dt-sc-header-top-bar .list-social__link {
			padding: 0; /* color: rgb(var(--color-foreground)); */
		}
		.dt-sc-header-top-bar .disclosure__link {
			color: var(--gradient-base-accent-1);
		}
		.dt-sc-header-top-bar .disclosure .localization-form__select {
			padding-top: 0;
			margin: 0 !important;
			padding-bottom: 0;
			font-weight: 500;
			box-shadow: none;
			outline: 0;
			text-decoration: none;
			padding-right: 4rem;
		}
		.dt-sc-header-top-bar .localization-form {
			padding: 0 !important;
			margin: 0 !important;
		}
		.dt-sc-header-top-bar .localization-selector+.disclosure__list-wrapper {
			opacity: 1;
			animation: animateLocalization var(--duration-default) ease;
		}
		.dt-sc-header-top-bar .disclosure__list,
		.dt-sc-header-top-bar .disclosure__list-wrapper {
			flex-direction: column;
			z-index: 3;
		}
		.dt-sc-header-top-bar .localization-form__select .icon-caret {
			width: 6px;
			right: 28px;
		}
		.dt-sc-header-top-bar .disclosure__button {
			font-size: 1.4rem;
		}
		.dt-sc-header-top-bar .disclosure .flag-icon {
			display: none;
		}
		.dt-sc-header-top-bar .disclosure__list-wrapper {
			background-color: var(--gradient-base-background-1);
		}
		.dt-sc-header-top-bar .disclosure__link:hover {
			color: var(--gradient-base-accent-2);
		}
		.dt-sc-header-top-bar .disclosure__list {
			padding: 5px 0;
		}
		.dt-sc-header-top-bar .disclosure .localization-form__select {
			height: 35px;
			min-height: 35px;
			line-height: normal
		}
		.localization-selector+.disclosure__list-wrapper {
			margin-top: 6px;
		}
		.dt-sc-header-top-bar a:hover .icon-text {
			color: var(--gradient-base-accent-2);
		}
		.dt-sc-header-top-bar .top-bar-content li {
			display: flex;
			align-items: center;
		}
		.dt-sc-header-top-bar .currency_language {
			display: flex;
		}
		.dt-sc-header-top-bar localization-form .disclosure__list-wrapper {
			top: 100%;
			bottom: unset;
		}
		.dt-sc-flex-space-between.flex-center {
			justify-content: center;
		}
		.dt-sc-header-top-bar .localization-form__select .icon-caret {
			position: absolute;
			content: "";
			height: 0.6rem;
			top: calc(50% - 0.2rem);
		}
		@media screen and (max-width: 990px) {
			section.dt-sc-header-top-bar {
				display: none;
			}
		}
		@media screen and (max-width: 749px) {}
		.swiper-button-prev1.vertical-marquee-prev,
		.swiper-button-next1.vertical-marquee-next {
			position: absolute;
		}
		.dt-sc-header-top-bar a p {
			margin: 0;
		}
		vertical-bar {
			max-width: 40rem;
		}
		.dt-sc-header-top-bar li {
			display: flex;
		}
	</style>
</div>

<div id="shopify-section-header" class="shopify-section section-header">
    <link rel="stylesheet" href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-list-menu.css?v=67740596207655118111735791230" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-search.css?v=11398205511829012651735791230" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-menu-drawer.css?v=16299667800328736951735791230" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-cart-notification.css?v=122309020522042032661735791230" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-cart-items.css?v=75904281231658915561735791230" media="print" onload="this.media='all'"><link rel="stylesheet" href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-price.css?v=150523514419358740191735791230" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-loading-overlay.css?v=77174176155476131141735791230" media="print" onload="this.media='all'"><link rel="stylesheet" href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-mega-menu.css?v=111788540451684880971735791230" media="print" onload="this.media='all'">
    <noscript><link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-mega-menu.css?v=111788540451684880971735791230" rel="stylesheet" type="text/css" media="all" /></noscript><link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-cart-drawer.css?v=141183946682665419971735791230" rel="stylesheet" type="text/css" media="all" />
    <link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-cart.css?v=135531771766781695931735791230" rel="stylesheet" type="text/css" media="all" />
    <link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-totals.css?v=42436900882442635581735791230" rel="stylesheet" type="text/css" media="all" />
    <link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-price.css?v=150523514419358740191735791230" rel="stylesheet" type="text/css" media="all" />
    <link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-discounts.css?v=152760482443307489271735791230" rel="stylesheet" type="text/css" media="all" />
    <link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-loading-overlay.css?v=77174176155476131141735791230" rel="stylesheet" type="text/css" media="all" />
    <noscript><link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-list-menu.css?v=67740596207655118111735791230" rel="stylesheet" type="text/css" media="all" /></noscript>
    <noscript><link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-search.css?v=11398205511829012651735791230" rel="stylesheet" type="text/css" media="all" /></noscript>
    <noscript><link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-menu-drawer.css?v=16299667800328736951735791230" rel="stylesheet" type="text/css" media="all" /></noscript>
    <noscript><link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-cart-notification.css?v=122309020522042032661735791230" rel="stylesheet" type="text/css" media="all" /></noscript>
    <noscript><link href="//toytime-theme.myshopify.com/cdn/shop/t/11/assets/component-cart-items.css?v=75904281231658915561735791230" rel="stylesheet" type="text/css" media="all" /></noscript>
 
    <style> 
        .megamenu_megamenu.mega-menu {
            position: static;
        }
        .megamenu_megamenu{
            position:relative;
        }  
        .count-zero {
            display: none;
        }
        .count-exist.count-zero {display:block;}
        .header__icons #dT_TopStickySearchBtn.icon-search,
        .search-icon  #dT_TopStickySearchBtn.icon-search{cursor:pointer;width: 26px; height: 26px;display: flex;}
        header svg,
        header .header__icon, header .header__icon--cart .icon{width:2.6rem;height:2.6rem;}
        @media screen and (min-width: 1200px) {
            header-drawer {
                display: none;
            }
            .header__icons .icon-search { margin-right: 0;}
            .header:not(.header--top-center) * > .header__search,
            .header--top-center > .header__search {
                display: inline-flex;
            }
            .header:not(.header--top-center) > .header__icons .header__search,
            .header--top-center * > .header__icons .header__search,
            .header--middle.secondary-menu-enabled .header__icons .header__search{
                display: none;
            }
            .header__inline-menu {
                display: inline-flex;
            }
            .tabs-nav.mobileTabs {display: none;}
            .header--top-center .header__heading-link, .header--top-center .header__heading {
                justify-self: center;
                text-align: center;
            }
            header .header__icons .header__search.search-box-hide{display:none;}
            .header {
                padding-top: 0;
                padding-bottom: 0;
            }
            .header--top-left .header-row,
            .header--middle-left:not(.header--has-menu) .header-row {
                grid-template-areas:
                "heading navigation"
                "navigation navigation";
                grid-template-columns: 1fr auto;
            }

            .header--middle-left .header-row {
                grid-template-areas: "heading navigation";
            grid-template-columns: 1fr auto; 
                column-gap: 1rem;
            }
            .header--middle .header-row {
                grid-template-areas: "heading navigation";
                grid-template-columns: 1fr auto;
                column-gap: 1rem;
                padding: 0 50px 0 30px;
            }  
            .header--middle.secondary-menu-enabled .header-row {
                grid-template-areas: "left-icon navigation heading secondary-menu icons";
                grid-template-columns: 1fr 1.5fr auto 1.5fr 1fr;
                column-gap: 1rem;
            }  
            .header--middle.secondary-menu-enabled .header-row #AccessibleNav {
                justify-content: center;
            }
            .header--middle.secondary-menu-enabled .header-row #AccessibleNav ul.dt-nav > li > a {padding:0px 20px;line-height: normal;}
            .header--middle.secondary-menu-enabled .header-row #AccessibleNav ul.dt-nav > li.top-level-link{padding:0;}  
            .header--top-center .header-row{
                grid-template-areas:
                "left-icon heading icons "
                "navigation navigation navigation";
                column-gap: 1.5rem;
                row-gap:1.5rem;
                grid-template-columns: 1fr auto 1fr;
            }
            .header--top-left .header-row{
                grid-template-areas:
                "heading left-icon  icons "
                "navigation navigation navigation";
                grid-template-columns: 1fr 1fr 1fr; 
                column-gap: 1.5rem;
                row-gap:1.5rem; 
            }
            .category-menu-button.header--top-left .header-row{
                grid-template-areas:
                "heading left-icon  icons "
                "category-menu navigation navigation";
                grid-template-columns:auto 1fr auto; 
                column-gap: 1.5rem;
                row-gap:1.5rem; 
            }
            .category-menu-button.header--top-center .header-row{
                grid-template-areas:
                "left-icon heading icons "
                "category-menu navigation navigation";
                grid-template-columns:auto 1fr auto; 
                column-gap: 1.5rem;
                row-gap:1.5rem;
            }
            .header--top-center .header__heading-link, .header--top-center .header__heading {
                justify-self: center;
                text-align: center;
            }
            
            .header .search-modal__form{margin-right:1rem;}
            .header .search-modal__form .icon-search {margin: 0;}
            ul.dt-sc-list-inline>li ul.sub-menu-lists>li>ul a:hover{transform:translateX(5px);-webkit-transform:translateX(5px);}   
            .shopify-section-header-sticky .header-wrapper .header {padding:0;}
            ul.dt-sc-list-inline
            > li
            ul.sub-menu-lists
            .tabs-content
            li.dt-sc-menu-tabs
            ul
            li
            ul
            li
            a:hover, ul.dt-sc-list-inline>li:not(.has-mega-menu) ul.sub-menu-lists li a:hover {
            color: rgb(var(--color-base-outline-button-labels));
            transform: translateX(5px); 
            -webkit-transform: translateX(5px);  
            }  

            .header ul.dt-sc-list-inline.dt-desktop-menu.dt-nav li:not(.has-mega-menu) .sub-menu-block {margin-top:37px;}
            .header ul.dt-sc-list-inline.dt-desktop-menu.dt-nav li:not(.has-mega-menu) .sub-menu-block .submenu_inner .sub-menu-block{margin-top:0;}
            .header ul.dt-sc-list-inline.dt-desktop-menu.dt-nav li.has-mega-menu .megamenu_megamenu.mega-menu .sub-menu-block{transform:translateY(0);}
        }
        @media screen and (max-width: 1199px) {
            .header:not(.header--top-center) >  .header__search,
            .header--top-center * >  .header__search,
            .header--middle.secondary-menu-enabled  .header__search
            {
            display: none;
            }
            .header:not(.header--top-center) > .header__icons .header__search,
            .header--top-center * > .header__icons .header__search,
            .header--middle.secondary-menu-enabled .header__icons .header__search{
            display:  inline-flex;
            }
            .page-width.mega{display:none;}
            ul.sub-menu-lists.dt-sc-column.four-column { grid-template-columns: repeat(1,1fr);row-gap: 15px;}
            ul.dt-sc-list-inline > li ul.sub-menu-lists .hide-mobile { display: none !important;}
            ul.dt-sc-list-inline > li ul.sub-menu-lists .tabs-nav .tabs .heading ~ ul{ border: none; display: inline-block; }
            ul.dt-sc-list-inline > li ul.sub-menu-lists .tabs-nav .tabs .heading ~ ul li > a{ border: none; padding: 0 15px !important;}
            ul.dt-sc-list-inline > li ul.sub-menu-lists .tabs-nav .tabs li a { background:transparent; position:relative; margin:0;cursor: pointer; padding:0; }
            ul.dt-sc-list-inline > li ul.sub-menu-lists .tabs-nav .tabs li a:hover {color:rgba(var(--color-base-outline-button-labels));background:transparent; }
            ul.dt-sc-list-inline > li ul.sub-menu-lists .tabs-nav .tabs > li > a:after{ content: ''; position: absolute; right: 15px; top: 50%; width: 6px; height: 6px; border-left: 1px solid currentColor; border-bottom: 1px solid currentColor; transform: rotate(-45deg) translateY(-50%);}
            header .tag.hot, header .tag.sale, header .tag.new{position:relative;left:10px;} 
            header ul.dt-sc-list-inline>li ul.sub-menu-lists>li>ul a .tag{top:0;}
            header .search-box.search-box-hide{display:none;}
            a.header__icon.link.focus-inset.small-hide,
            header .header__icons   localization-form{display:none}

        
        
        
            .menu-drawer ul.sub-menu-lists{ display: inline-block;}
            .dt-sc-nav-link.dropdown{display:none;}

            .js .menu-drawer__menu li:not(.has-mega-menu) .sub-menu-lists{padding:0;}
            .menu-drawer .menu-drawer__navigation .mega-menu__content{margin-bottom:5rem}  

        }
        @media screen and (max-width: 1199px)  and (min-width:750px){
                
            .header header-drawer{display: flex;justify-content: flex-end;}
            .category-menu-button.header--top-left .header-row,
            .category-menu-button.header--top-center .header-row{
                grid-template-areas:
                "heading left-icon  icons"
                "category-menu category-menu category-menu";
            }
                
            .header__icon--menu .icon{    width: 3rem;height: 3rem;}
            .header .header-row{padding:0 20px;}
        
        }

        @media screen and (max-width:749px){
        .category-menu-button.header--top-left .header-row .category-menu,
        .category-menu-button.header--top-center .header-row .category-menu{
                grid-column: 1;
        }
        header svg, header .header__icon, header .header__icon--cart .icon,
        .header__icons #dT_TopStickySearchBtn.icon-search, .search-icon #dT_TopStickySearchBtn.icon-search{width:2rem;height:2rem;}
        .header .header-row{padding:0 10px;}
        } 
        @media screen and (max-width:480px){
        .category-menu-button.header--top-left .header-row,
        .category-menu-button.header--top-center .header-row{display: flex;flex-direction: column;}
        .category-menu-button.header--top-center .header-row header-drawer,
        .category-menu-button.header--top-left .header-row header-drawer{order: 1;}
        
        }
        
        .menu-drawer-container {
            display: flex;
        }
        

        .list-menu {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .list-menu--inline {
            display: inline-flex;
            flex-wrap: wrap;
        }

        summary.list-menu__item {
            padding-right: 2.7rem;
        }

        .list-menu__item {
            display: flex;
            align-items: center;
            line-height: calc(1 + 0.3 / var(--font-body-scale));
        }

        .list-menu__item--link {
            text-decoration: none;
            padding-bottom: 1rem;
            padding-top: 1rem;
            line-height: calc(1 + 0.8 / var(--font-body-scale));
        }

        @media screen and (min-width: 750px) {
            .list-menu__item--link {
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
            }
            
        }
        .header ul.dt-sc-list-inline.dt-desktop-menu.dt-nav {
            z-index: 2;
        }
        /* ul.dt-nav > li.top-level-link{display: inline-flex;}
        ul.dt-nav > li.top-level-link a.dt-sc-nav-link  {overflow: hidden; display: inline-block;padding:0;border-radius:0;} */
        ul.dt-nav > li.top-level-link a.dt-sc-nav-link span:not(.dt-sc-caret){position:relative;display: inline-flex; /* -webkit-transition:all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55); -o-transition:all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55); transition:all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/}
        /* ul.dt-nav.dt-desktop-menu > li.top-level-link a.dt-sc-nav-link span:not(.dt-sc-caret):after{content:attr( data-hover ); display:block; width:100%; height:100%; position:absolute; left:0; top:0; text-align:center;
            -webkit-transform:translateY( -100% );
            -ms-transform:translateY( -100% );
            -o-transform:translateY( -100% );
            transform:translateY( -100% );
        }
        ul.dt-nav.dt-desktop-menu > li.top-level-link a.dt-sc-nav-link:hover span:not(.dt-sc-caret){
            -webkit-transform:translateY( 100% );
            -ms-transform:translateY( 100% );
            -o-transform:translateY( 100% );
            transform:translateY( 100% );
        }  */

        .dt-sc-nav-link.dropdown{padding:1.4rem; position:relative;}
        .header ul.dt-sc-list-inline.dt-desktop-menu.dt-nav{
        display: inline-flex;
            flex-wrap: wrap;
            list-style:none;grid-gap:45px;
        }
        .header .header-row .header__icons{gap:30px;}
        .section-header:not(.shopify-section-header-sticky) .header--middle-left .header-row,
        .section-header:not(.shopify-section-header-sticky) .header--middle .header-row,
        .section-header:not(.shopify-section-header-sticky) .header--top-left .header-row,
        .section-header:not(.shopify-section-header-sticky) .header--top-center .header-row{border-radius: var(--media-radius); padding:22px 0px; } 
        /*   */
        @media screen and (max-width: 1199px) {
        .section-header:not(.shopify-section-header-sticky) .header--middle-left .header-row,
        .section-header:not(.shopify-section-header-sticky) .header--middle .header-row,
        .section-header:not(.shopify-section-header-sticky) .header--top-left .header-row,
        .section-header:not(.shopify-section-header-sticky) .header--top-center .header-row{padding:22px 0px;}
        .header .header-row .header__icons{gap:20px;}
        }
        @media screen and (max-width: 576px) {
        .section-header:not(.shopify-section-header-sticky) .header--middle-left .header-row,
        .section-header:not(.shopify-section-header-sticky) .header--middle .header-row,
        .section-header:not(.shopify-section-header-sticky) .header--top-left .header-row,
        .section-header:not(.shopify-section-header-sticky) .header--top-center .header-row{padding:22px 0px;}
        .header .header-row .header__icons{gap:10px;}
        }
        </style><style data-shopify>.section-header {
            margin-bottom: 0px;
        }
        @media screen and (min-width: 750px) {
            .section-header {
            margin-bottom: 0px;
            }
        }
        #dT_top-sticky.search-show {display:flex;}

            
            header nav#AccessibleNav.custom_width_dropdown ul.dt-desktop-menu.dt-nav > li.has-mega-menu > .megamenu_megamenu > div.sub-menu-block.block-2b791c78-36aa-4c3c-a4a3-410435975699-type  { 
            width: 96%;
            max-width: 96%; 
            margin:auto;
        }    
        header nav#AccessibleNav.custom_width_dropdown ul.dt-desktop-menu.dt-nav > li.has-mega-menu > .megamenu_megamenu > div.sub-menu-block.block-2b791c78-36aa-4c3c-a4a3-410435975699-type  { 
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        background-color: var(--gradient-base-background-1);
        /* font-size: var(--gradient-base-background-2); */
        border-radius:var(--media-radius);  
            
        }
        @media screen and (min-width: 1921px) {
            header nav#AccessibleNav.custom_width_dropdown ul.dt-desktop-menu.dt-nav > li.has-mega-menu > .megamenu_megamenu > div.sub-menu-block.block-2b791c78-36aa-4c3c-a4a3-410435975699-type  { max-width:var(--large_desktop); margin:auto;}
            .other-templates .header .page-full-width{ max-width: 100%; margin-bottom: 20px;}
            .other-templates .header .page-full-width .row{  background: rgba(var(--color-base-outline-button-labels)); border-radius: var(--card-corner-radius); max-width: 100%;}
            .other-templates .header .page-full-width .header-row{max-width:var(--large_desktop); margin:auto;}
            } 

        header nav#AccessibleNav.default_dropdown ul.dt-desktop-menu.dt-nav > li.has-mega-menu > .megamenu_megamenu > div.sub-menu-block.block-2b791c78-36aa-4c3c-a4a3-410435975699-type  { margin:auto;}
        .header nav#AccessibleNav.default_dropdown ul.dt-desktop-menu.dt-nav .megamenu_megamenu ul.sub-menu-lists{padding:0;}
        .header ul.dt-sc-list-inline.dt-desktop-menu.dt-nav .megamenu_megamenu .sub-menu-block{    padding: 10px; min-width:15rem; border-radius: 10px; box-shadow:rgba(0, 0, 0, 0.35) 0px 2px 5px;}  
        .header ul.dt-sc-list-inline.dt-desktop-menu.dt-nav .megamenu_megamenu.mega-menu .sub-menu-block{  /*  padding: var(--grid-desktop-horizontal-spacing);*/ width:100%; padding:0;}  
        
            
            header nav#AccessibleNav.custom_width_dropdown ul.dt-desktop-menu.dt-nav > li.has-mega-menu > .megamenu_megamenu > div.sub-menu-block.block-766bf1d8-02c1-4532-8474-0802961ae3f5-type  { 
            width: 96%;
            max-width: 96%; 
            margin:auto;
        }    
        header nav#AccessibleNav.custom_width_dropdown ul.dt-desktop-menu.dt-nav > li.has-mega-menu > .megamenu_megamenu > div.sub-menu-block.block-766bf1d8-02c1-4532-8474-0802961ae3f5-type  { 
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        background-color: var(--gradient-base-background-1);
        /* font-size: var(--gradient-base-background-2); */
        border-radius:var(--media-radius);  
            
        }
        @media screen and (min-width: 1921px) {
            header nav#AccessibleNav.custom_width_dropdown ul.dt-desktop-menu.dt-nav > li.has-mega-menu > .megamenu_megamenu > div.sub-menu-block.block-766bf1d8-02c1-4532-8474-0802961ae3f5-type  { max-width:var(--large_desktop); margin:auto;}
            .other-templates .header .page-full-width{ max-width: 100%; margin-bottom: 20px;}
            .other-templates .header .page-full-width .row{  background: rgba(var(--color-base-outline-button-labels)); border-radius: var(--card-corner-radius); max-width: 100%;}
            .other-templates .header .page-full-width .header-row{max-width:var(--large_desktop); margin:auto;}
            } 

        header nav#AccessibleNav.default_dropdown ul.dt-desktop-menu.dt-nav > li.has-mega-menu > .megamenu_megamenu > div.sub-menu-block.block-766bf1d8-02c1-4532-8474-0802961ae3f5-type  { margin:auto;}
        .header nav#AccessibleNav.default_dropdown ul.dt-desktop-menu.dt-nav .megamenu_megamenu ul.sub-menu-lists{padding:0;}
        .header ul.dt-sc-list-inline.dt-desktop-menu.dt-nav .megamenu_megamenu .sub-menu-block{    padding: 10px; min-width:15rem; border-radius: 10px; box-shadow:rgba(0, 0, 0, 0.35) 0px 2px 5px;}  
        .header ul.dt-sc-list-inline.dt-desktop-menu.dt-nav .megamenu_megamenu.mega-menu .sub-menu-block{  /*  padding: var(--grid-desktop-horizontal-spacing);*/ width:100%; padding:0;}  
        
            
            header nav#AccessibleNav.custom_width_dropdown ul.dt-desktop-menu.dt-nav > li.has-mega-menu > .megamenu_megamenu > div.sub-menu-block.block-b0124b59-6f4c-434a-befc-3fbf210c2762-type  { 
            width: 96%;
            max-width: 96%; 
            margin:auto;
        }    
        header nav#AccessibleNav.custom_width_dropdown ul.dt-desktop-menu.dt-nav > li.has-mega-menu > .megamenu_megamenu > div.sub-menu-block.block-b0124b59-6f4c-434a-befc-3fbf210c2762-type  { 
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        background-color: var(--gradient-base-background-1);
        /* font-size: var(--gradient-base-background-2); */
        border-radius:var(--media-radius);  
            
        }
        @media screen and (min-width: 1921px) {
            header nav#AccessibleNav.custom_width_dropdown ul.dt-desktop-menu.dt-nav > li.has-mega-menu > .megamenu_megamenu > div.sub-menu-block.block-b0124b59-6f4c-434a-befc-3fbf210c2762-type  { max-width:var(--large_desktop); margin:auto;}
            .other-templates .header .page-full-width{ max-width: 100%; margin-bottom: 20px;}
            .other-templates .header .page-full-width .row{  background: rgba(var(--color-base-outline-button-labels)); border-radius: var(--card-corner-radius); max-width: 100%;}
            .other-templates .header .page-full-width .header-row{max-width:var(--large_desktop); margin:auto;}
            } 

        header nav#AccessibleNav.default_dropdown ul.dt-desktop-menu.dt-nav > li.has-mega-menu > .megamenu_megamenu > div.sub-menu-block.block-b0124b59-6f4c-434a-befc-3fbf210c2762-type  { margin:auto;}
        .header nav#AccessibleNav.default_dropdown ul.dt-desktop-menu.dt-nav .megamenu_megamenu ul.sub-menu-lists{padding:0;}
        .header ul.dt-sc-list-inline.dt-desktop-menu.dt-nav .megamenu_megamenu .sub-menu-block{    padding: 10px; min-width:15rem; border-radius: 10px; box-shadow:rgba(0, 0, 0, 0.35) 0px 2px 5px;}  
        .header ul.dt-sc-list-inline.dt-desktop-menu.dt-nav .megamenu_megamenu.mega-menu .sub-menu-block{  /*  padding: var(--grid-desktop-horizontal-spacing);*/ width:100%; padding:0;}  
        
            
            header nav#AccessibleNav.custom_width_dropdown ul.dt-desktop-menu.dt-nav > li.has-mega-menu > .megamenu_megamenu > div.sub-menu-block.block-7a4623fd-898c-4da5-b757-40ebc6b9efad-type  { 
            width: 96%;
            max-width: 96%; 
            margin:auto;
        }    
        header nav#AccessibleNav.custom_width_dropdown ul.dt-desktop-menu.dt-nav > li.has-mega-menu > .megamenu_megamenu > div.sub-menu-block.block-7a4623fd-898c-4da5-b757-40ebc6b9efad-type  { 
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        background-color: var(--gradient-base-background-1);
        /* font-size: var(--gradient-base-background-2); */
        border-radius:var(--media-radius);  
            
        }
        @media screen and (min-width: 1921px) {
            header nav#AccessibleNav.custom_width_dropdown ul.dt-desktop-menu.dt-nav > li.has-mega-menu > .megamenu_megamenu > div.sub-menu-block.block-7a4623fd-898c-4da5-b757-40ebc6b9efad-type  { max-width:var(--large_desktop); margin:auto;}
            .other-templates .header .page-full-width{ max-width: 100%; margin-bottom: 20px;}
            .other-templates .header .page-full-width .row{  background: rgba(var(--color-base-outline-button-labels)); border-radius: var(--card-corner-radius); max-width: 100%;}
            .other-templates .header .page-full-width .header-row{max-width:var(--large_desktop); margin:auto;}
            } 

        header nav#AccessibleNav.default_dropdown ul.dt-desktop-menu.dt-nav > li.has-mega-menu > .megamenu_megamenu > div.sub-menu-block.block-7a4623fd-898c-4da5-b757-40ebc6b9efad-type  { margin:auto;}
        .header nav#AccessibleNav.default_dropdown ul.dt-desktop-menu.dt-nav .megamenu_megamenu ul.sub-menu-lists{padding:0;}
        .header ul.dt-sc-list-inline.dt-desktop-menu.dt-nav .megamenu_megamenu .sub-menu-block{    padding: 10px; min-width:15rem; border-radius: 10px; box-shadow:rgba(0, 0, 0, 0.35) 0px 2px 5px;}  
        .header ul.dt-sc-list-inline.dt-desktop-menu.dt-nav .megamenu_megamenu.mega-menu .sub-menu-block{  /*  padding: var(--grid-desktop-horizontal-spacing);*/ width:100%; padding:0;}  
        
        .cart-count-bubble.count-zero {
            opacity: 0;
                visibility: hidden;
        }


        /* ul.dt-nav>li a.dt-sc-nav-link.dropdown span .char {
        line-height: 1;
        transform-origin: center bottom;
        -webkit-animation-timing-function: cubic-bezier(0.77, 0.02, 0.11, 0.97);
                animation-timing-function: cubic-bezier(0.77, 0.02, 0.11, 0.97);
        -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
        -webkit-animation-delay: calc(0.05s * var(--char-index) );
                animation-delay: calc(0.05s * var(--char-index) );
        -webkit-animation-duration: calc( 0.3s + ( 0.03s * var(--char-total)) );
                animation-duration: calc( 0.3s + ( 0.03s * var(--char-total)) );
        }
        ul.dt-nav>li:hover a.dt-sc-nav-link.dropdown span .char {
        -webkit-animation-name: bounce-char;
                animation-name: bounce-char;
        }
        @-webkit-keyframes bounce-end {
        to {
            transform: translateY(0%) scale(1);
        }
        }

        @keyframes bounce-end {
        to {
            transform: translateY(0%) scale(1);
        }
        }
        @-webkit-keyframes bounce-char {
        20% {
            transform: translateY(0%) scale(1.3, 0.8);
        }
        70% {
            transform: translateY(-15%) scale(0.8, 1.2);
        }
        }
        @keyframes bounce-char {
        20% {
            transform: translateY(0%) scale(1.3, 0.8);
        }
        70% {
            transform: translateY(-15%) scale(0.8, 1.2);
        }
        } */

        ul.dt-nav>li>.megamenu_megamenu a.dt-sc-nav-link{overflow:hidden;line-height:18px;}
        ul.dt-nav>li>.megamenu_megamenu a.dt-sc-nav-link span:not(.dt-sc-caret){
            position: relative;
            display: inline-flex;
            /* -webkit-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
        }
        /* ul.dt-nav>li>.megamenu_megamenu a.dt-sc-nav-link span:not(.dt-sc-caret):after{
        content: attr( data-hover );
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;
            -webkit-transform: translateY( -100% );
            transform: translateY( -100% );
        }
        ul.dt-nav>li>.megamenu_megamenu a.dt-sc-nav-link:hover span:not(.dt-sc-caret) {
            -webkit-transform: translateY( 100% );
            transform: translateY( 100% );
        }
        */
        
    </style>

	<div id="shopify-section-headers" class="header-wrapper ">
		<header id="header" class=" animate__animated fadeInLeft  header header--middle-left  header--has-menu color-background-1 ">
			<div class=" page-width  ">
				<div class="row ">
					<div class="header-row">
						<header-drawer data-breakpoint="tablet">
							<details id="Details-menu-drawer-container" class="menu-drawer-container">
								<summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="Menu">
									<span>
										<svg width="21" height="20" viewbox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1.07812 1H15.25" stroke="currentcolor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M1.07812 10H10.8906" stroke="currentcolor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M1.07812 19H19.0781" stroke="currentcolor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span>
								</summary>
								<div id="menu-drawer" class="gradient menu-drawer motion-reduce" tabindex="-1">
									<div class="menu-drawer-header">
										<span class="drawer-title">Menu</span>
										<button class="header-drawer__close close_icon_button" type="button" aria-label="Close">
											<svg id="Group_24924" data-name="Group 24924" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" viewbox="0 0 25 25">
												<defs>
													<clipPath id="clip-path">
														<rect id="Rectangle_8252" data-name="Rectangle 8252" width="18" height="18" fill="currentcolor"/>
													</clipPath>
												</defs>
												<g id="Group_24923" data-name="Group 24923">
													<path id="Path_38934" data-name="Path 38934" d="M23.214,25a1.78,1.78,0,0,1-1.263-.523L.523,3.048A1.786,1.786,0,0,1,3.048.523L24.477,21.952A1.786,1.786,0,0,1,23.214,25" transform="translate(0)" fill="currentcolor"/>
													<path id="Path_38935" data-name="Path 38935" d="M1.786,25A1.786,1.786,0,0,1,.523,21.952L21.952.523a1.786,1.786,0,1,1,2.525,2.525L3.048,24.477A1.78,1.78,0,0,1,1.786,25" transform="translate(0 0)" fill="currentcolor"/>
												</g>
											</svg>
										</button>
									</div>
									<div class="menu-drawer__inner-container">
										<div class="menu-drawer__navigation-container">
											<nav class="menu-drawer__navigation">
												<ul class="menu-drawer__menu has-submenu list-menu dt-sc-list-inline" role="list">

													<li class="0 text-menu top-level-link dt-sc-child active ">
														<a href="#le-magasin" class="menu-drawer__menu-item list-menu__item link link--text focus-inset menu-drawer__menu-item--active" aria-current="page">
															Le Magasin
														</a>
													</li>

													<li class="0 text-menu top-level-link dt-sc-child">
														<a href="#a-propos" class="menu-drawer__menu-item list-menu__item link link--text focus-inset">
															À propos
														</a>
													</li>

													<li class="0 text-menu top-level-link dt-sc-child">
														<a href="#contact" class="menu-drawer__menu-item list-menu__item link link--text focus-inset">
															Contact
														</a>
													</li>

												</ul>
											</nav>
										</div>
									</div>
                                    <div class="menu-drawer__utility-links">
                                        <ul class="list list-social list-unstyled" role="list">
                                            <li class="list-social__item">
                                                <a href="#" class="list-social__link link">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                        <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                                        <path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"/>
                                                    </svg>
                                                    <span class="visually-hidden">Whatsapp</span>
                                                </a>
                                            </li>
                                            <li class="list-social__item">
                                                <a
                                                    href="#" class="list-social__link link">

                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" preserveaspectratio="xMidYMid" width="14.906" height="32" viewbox="0 0 14.906 32" class="icon">
                                                        <path d="M14.874,11.167 L14.262,14.207 C14.062,15.208 13.100,15.992 12.072,15.992 L10.000,15.992 L10.000,30.000 C10.000,31.104 9.159,32.000 8.049,32.000 L5.030,32.000 C3.920,32.000 3.017,31.102 3.017,29.999 L3.017,15.992 L2.011,15.992 C0.901,15.992 -0.002,15.095 -0.002,13.991 L-0.002,10.990 C-0.002,9.887 0.901,8.989 2.011,8.989 L3.017,8.989 L3.017,6.003 C3.017,2.716 5.693,0.041 8.994,0.013 C9.015,0.012 9.033,0.001 9.055,0.001 L13.081,0.001 C13.636,0.001 14.000,0.448 14.000,1.000 L14.000,6.000 C14.000,6.553 13.636,7.004 13.081,7.004 L10.061,7.004 L10.060,8.989 L13.079,8.989 C13.645,8.989 14.167,9.228 14.509,9.644 C14.852,10.059 14.985,10.615 14.874,11.167 ZM9.092,10.990 C9.078,10.991 9.067,10.998 9.053,10.998 L9.053,10.998 C8.497,10.997 8.046,10.549 8.047,9.997 L8.047,9.990 C8.047,9.990 8.047,9.990 8.047,9.990 C8.047,9.990 8.047,9.990 8.047,9.990 L8.049,6.003 C8.049,5.450 8.499,5.003 9.055,5.003 L12.074,5.003 L12.074,2.002 L9.094,2.002 C9.077,2.002 9.063,2.011 9.045,2.011 C6.831,2.011 5.030,3.802 5.030,6.003 L5.030,10.005 C5.030,10.558 4.579,11.006 4.023,11.006 C3.996,11.006 3.973,10.992 3.946,10.990 L2.011,10.990 L2.011,13.991 L4.023,13.991 C4.579,13.991 5.030,14.439 5.030,14.992 C5.030,15.044 5.008,15.088 5.000,15.138 L5.000,30.000 L8.049,29.999 L8.049,15.002 C8.049,14.998 8.047,14.995 8.047,14.992 C8.047,14.439 8.497,13.991 9.053,13.991 L12.072,13.991 C12.145,13.991 12.275,13.886 12.288,13.816 L12.857,10.990 L9.092,10.990 Z" fill="currentColor"/>
                                                    </svg>


                                                    <span class="visually-hidden">Facebook</span>
                                                </a>
                                            </li>
                                            <li class="list-social__item">
                                                <a href="#" class="list-social__link link">
                                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram" viewbox="0 0 18 18">
                                                        <path fill="currentColor" d="M8.77 1.58c2.34 0 2.62.01 3.54.05.86.04 1.32.18 1.63.3.41.17.7.35 1.01.66.3.3.5.6.65 1 .12.32.27.78.3 1.64.05.92.06 1.2.06 3.54s-.01 2.62-.05 3.54a4.79 4.79 0 01-.3 1.63c-.17.41-.35.7-.66 1.01-.3.3-.6.5-1.01.66-.31.12-.77.26-1.63.3-.92.04-1.2.05-3.54.05s-2.62 0-3.55-.05a4.79 4.79 0 01-1.62-.3c-.42-.16-.7-.35-1.01-.66-.31-.3-.5-.6-.66-1a4.87 4.87 0 01-.3-1.64c-.04-.92-.05-1.2-.05-3.54s0-2.62.05-3.54c.04-.86.18-1.32.3-1.63.16-.41.35-.7.66-1.01.3-.3.6-.5 1-.65.32-.12.78-.27 1.63-.3.93-.05 1.2-.06 3.55-.06zm0-1.58C6.39 0 6.09.01 5.15.05c-.93.04-1.57.2-2.13.4-.57.23-1.06.54-1.55 1.02C1 1.96.7 2.45.46 3.02c-.22.56-.37 1.2-.4 2.13C0 6.1 0 6.4 0 8.77s.01 2.68.05 3.61c.04.94.2 1.57.4 2.13.23.58.54 1.07 1.02 1.56.49.48.98.78 1.55 1.01.56.22 1.2.37 2.13.4.94.05 1.24.06 3.62.06 2.39 0 2.68-.01 3.62-.05.93-.04 1.57-.2 2.13-.41a4.27 4.27 0 001.55-1.01c.49-.49.79-.98 1.01-1.56.22-.55.37-1.19.41-2.13.04-.93.05-1.23.05-3.61 0-2.39 0-2.68-.05-3.62a6.47 6.47 0 00-.4-2.13 4.27 4.27 0 00-1.02-1.55A4.35 4.35 0 0014.52.46a6.43 6.43 0 00-2.13-.41A69 69 0 008.77 0z"/>
                                                        <path fill="currentColor" d="M8.8 4a4.5 4.5 0 100 9 4.5 4.5 0 000-9zm0 7.43a2.92 2.92 0 110-5.85 2.92 2.92 0 010 5.85zM13.43 5a1.05 1.05 0 100-2.1 1.05 1.05 0 000 2.1z"></svg>
                                                        <span class="visually-hidden">Instagram</span>
                                                    </a>
                                                </li>
                                            </li>
                                        </ul>
                                    </div>
								</div>
							</details>
						</header-drawer>
						<h1 class="header__heading">
							<a href="/" class="header__heading-link link link--text focus-inset"><img srcset="//toytime-theme.myshopify.com/cdn/shop/files/Logo.png?v=1707972992&width=150 1x, //toytime-theme.myshopify.com/cdn/shop/files/Logo.png?v=1707972992&width=300 2x" src="//toytime-theme.myshopify.com/cdn/shop/files/Logo.png?v=1707972992&width=150" loading="lazy" class="header__heading-logo" width="150" height="300" alt="ToyTime-theme"></a>
						</h1>
						<div class="header__inline-menu">

							<nav id="AccessibleNav" role="navigation" class="custom_width_dropdown dt-sc-flex-space-between  align-left" data-menu="dt-main-menu">

								<ul class="dt-sc-list-inline  dt-desktop-menu dt-nav" data-menu="dt-main-menu">

									<li class="0 text-menu
																						                                                        top-level-link
																						                                                        dt-sc-child
											
																						                                                        active  menu-container-width- subMenuBlock">

										<div class="megamenu_megamenu ">
											<a href="#le-magasin" class="dt-sc-nav-link dropdown">

												<span data-hover="Home">
													Le Magasin
												</span>

											</a>
										</div>
									</li>

									<li class="0 text-menu
																						                                                        top-level-link
																						                                                        dt-sc-child
											
																						                                                            menu-container-width- subMenuBlock">

										<div class="megamenu_megamenu ">
											<a href="#a-propos" class="dt-sc-nav-link dropdown">

												<span data-hover="Blog">
													À propos
												</span>

											</a>

										</div>
									</li>


									<li class="0 text-menu
																						                                                        top-level-link
																						                                                        dt-sc-child
											
																						                                                            menu-container-width- subMenuBlock">

										<div class="megamenu_megamenu ">
											<a href="#contact" class="dt-sc-nav-link dropdown">


												<span data-hover="Contact">
													Contact
												</span>

											</a>


										</div>
									</li>

								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>
</div>
